#------------------------------------------
#

name: My-GitHubActions-Basics

on:  
  push:
    branches: 
      - master
      
jobs:  
  my-testing:

    runs-on: ubuntu-latest

    steps:
      - name: Print Hello Message
        run: echo "Hello World from testing Job" 
      
  my-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Print Hello Message
        run: echo "Hello World from deploy Job" 

